html,
body {
  background-color: white !important;
}
.fx {
  display: flex !important;
}

.fx-cc {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.fxdc {
  flex-direction: column;
}

.fxdr {
  flex-direction: row;
}

.fxdr-s {
  flex-direction: row;
}

.fxdr-m {
  flex-direction: row;
}

.fxdr-l {
  flex-direction: row;
}

.fxdrerow {
  flex-direction: row-reverse;
}

.fjcc {
  justify-content: center;
}

.fjcsb {
  justify-content: space-between;
}

.fjcfs {
  justify-content: flex-start;
}

.fjcfe {
  justify-content: flex-end;
}

.faibl {
  align-items: baseline;
}

.faic {
  align-items: center;
}

.faifs {
  align-items: flex-start;
}

.fxww {
  flex-wrap: wrap;
}

.movies-list {
  padding: 20px 30px;
}
.post-id {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
}
.post {
  box-shadow: 0px 0px 8px 1px #d6d6d6;
  margin: 15px;
  min-width: 260px;
  max-width: 380px;
  width: 30%;
  min-height: 280px;
  max-height: 400px;
  transition: 0.6s;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.post:hover {
  box-shadow: 0px 0px 15px 10px #979797;
  cursor: pointer;
}
.post:hover .movie-summary-title {
  opacity: 1;
}
.movie-summary-info {
}
.movie-summary-title {
  height: 100%;
  font-size: 28px;
  padding: 10px;
  background-color: #d7d7d7;
  opacity: 0;
  position: absolute;
  transition: 0.6s;
  background-color: rgba(46, 46, 46, 0.753);
  color: white;
}
.movie-summary-details > div {
  padding: 10px;
  margin: 5px 0;

  text-align: center;
}
.movie-summary-details > div > *:nth-child(1) {
  font-weight: 200 !important;
}
.movie-summary-details > div > *:nth-child(2) {
  font-size: 16px;
  color: black;
}
.movie-summary-image {
  height: 100%;
  position: relative;
}
.movie-summary-id {
  margin-right: 10px;
}
.movie-summary-genres {
}
.page-control {
  background-color: #ececec;
  border-top: 3px solid #17a2b8;
}
.page-control > * {
  margin: 10px;
}

.page-control > button {
  outline: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  font-size: 18px;
}
.page-control > select {
  width: 85px;
  text-align: center;
  border-color: #17a2b8;
  border-radius: 3px;
  height: 35px;
  font-size: 22px;
}

.nav-bar {
  border-bottom: 3px solid #17a2b8;
  min-height: 60px;
}
.nav-bar nav {
  padding: 3px;
  height: 100%;
}
.navbar-items-container > div {
  height: 50px;
}
.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-items-container {
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.navbar-menu {
  min-width: 40%;
  height: 100%;
}
.navbar-menu > ul {
  height: 100%;
  width: 100%;
}
.navbar-menu > ul > li {
  height: 100%;
  width: 100px;
  padding: 5px 8px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.navbar-menu > ul > li:hover,
.navbar-genres-list li:hover {
  background-color: #17a2b8;
  color: #f8f9fa;
}
.navbar-menu > ul > li:hover ul {
  display: flex;
}
.navbar-genres-list {
  width: 100%;
  display: none;
  position: absolute;
  top: 40px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #17a2b8;
  border-top-color: transparent;
  color: #17a2b8;
  background-color: #f8f9fa;
  z-index: 99999;
}
.navbar-genres-list li {
  height: 40px;
  width: 100%;
}

.navbar-menu-collapse {
  display: none;
}
.navbar-logo {
  height: 40px !important;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  background-color: #17a2b8;
  color: #f8ebe0;
  padding: 0 8px;
  border-radius: 5px;
}
.navbar-logo a {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background-color: #17a2b8;
  color: #f8f9fa;
  padding: 0 8px;
  border-radius: 5px;
  height: 40px;
  font-style: italic;
}

.search-box {
  border: 1px solid #17a2b8;
  min-width: 200px;
  height: 40px !important;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 1px #d6d6d6;
}

.search-input {
  border: none;
  height: 100%;
  padding: 8px;
  width: 80%;
  outline: none;
}
.search-button {
  border: none;
  height: 108%;
  width: 21%;
  padding: 0 !important;
  border-left: 1px solid #c6c6c6;
  font-size: 13px;
}
.result-message {
  color: #4e4e4e;
  padding: 10px;
  padding-left: 20px;
}
.search-result span {
  color: #17a2b8;
}

@media (max-width: 425px) {
  .navbar-items-container {
    flex-direction: column;
  }
}
